
<div class="wrapper">


  <div class="container available-bathrooms">

    <h1 class= "title">Available Bathrooms</h1>


    <div class="card-container">


      <% @bathrooms.each do |bathroom| %>

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(bathroom.photo, height: 400, width: 400, crop: :fit) %> );">

        <div class="card-category">Popular</div>
        <div class="card-description">
          <%= link_to bathroom_path(bathroom), class:"card-link" do %>
          <h2>
            <%= bathroom.title %>
          </h2>
          <% end %>
          <p>Address: <%= link_to bathroom.address, bathroom_path(bathroom) %></p>
        </div>

      </div>

      <% end %>
    </div>

    <div id="map" class="map-container" style='width: 100%; height: 100%;'></div>



  </div>
</div>





