<div class="container flex-center">
  <div class="sub-container">
    <div class="directions">
      <p>map placeholder</p>

    </div>

    <div class="booking-show-info">
      <p>
      <%= "Booking Time: #{@booking.created_at} " %>
      </p>
      <%= "#{@booking.bathroom.address}, #{@booking.bathroom.plz} #{@booking.bathroom.city}"   %>
    </div>
  </div>
</div>
