<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.2)), url('<%= image_path("banner.jpg") %>');">
  <div class="banner-content">
    <h1>AirPnP</h1>
    <h2>Gotta Pee? - Find a toilet</h2>
    <!-- läuft der zeit über User_controller update -->
    <%= link_to "Find Relief", bathrooms_path, class:"btn btn-success btn-lg" %>
  </div>
</div>
