

.available-bathrooms {
  justify-self: center;
  display: grid;
  justify-items: center;
  align-items: top;
  grid-gap: 1rem;
  @media (min-width: 320px) {
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
    "map"
    "search"
    "cards";
  }
  @media (min-width: 768px) {
    grid-template-columns: 2fr minmax(0,2fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "search map"
    "cards map";
  }
  @media (min-width: 992px) {
    grid-template-columns: 3fr minmax(0,2fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "search map"
    "cards map";
  }
  @media (min-width: 1200px) {
    grid-template-columns: 3fr minmax(0, 2fr);
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "search map"
    "cards map";
  }

  .search-grid {
    grid-area: search;
    justify-self: center;
      width: 100%;

    .search-options {
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 10px;
  .options {
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .submit {
      background-color: #00587A;
    }
  }
      h4 {
        font-size: 20px;
        font-weight: bold;
        color: #00587A;
      }


    }
  }
  .title {
    grid-area: title;
  }

  .map-container {
    grid-area: map;
    background-color: grey;
    min-height: 300px;
    box-shadow: 0px 0px 8px lightgrey;
    @media (min-width: 320px) {
      max-height: 300px;
    }

    @media (min-width: 768px) {
      max-height: 100vh;
    }

    #map {
      width:100%;
      position: sticky;
      top: 0;
    }
  }
  .card-container {

    grid-area: cards;
    width:100%;
    // display: grid;
    // grid-gap: 1rem;

    // @media (min-width: 320px) {
    //   grid-template-columns: auto;
    // }
    // @media (min-width: 768px) {
    //   grid-template-columns: auto;

    // }

    // @media (min-width: 992px) {
    //   grid-template-columns: repeat(2,minmax(0,1fr));

    // }

    // @media (min-width: 1200px) {
    //   grid-template-columns: repeat(2,minmax(0,1fr));
    // }

  }

}


.filter-bar{
  background-color:$main;
  height:50px;
  width: 100%;
  display:inline;
}

.card-link-to {
  height: 300px;
  width: 175px;
  z-index: 10
}
