// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "bathrooms/index";
@import "bathrooms/show";
@import "bookings/new";
@import "bookings/index";
@import "bookings/show";
@import "components/clock";
@import "reviews/new";

body{
  color:rgba(0,0,0,0.5)
}

h1{
  font-size:30px;
  color:rgba(0,0,0,0.7)
}

h2{
  font-size: 24px;
}

.dropdown-toggle{
  color:white;
}
