  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="row">
        <%= simple_form_for [@bathroom, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: 1..5 %>
        <%= f.submit "Add review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
