.bookings-index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.bookings-past {
  background-color: white;
  border-radius: 5px;
  ul {
    padding-left: 0;
  }
}



.bookings-upcoming {
  background-color: #f9f9f9;
  border-radius: 2px;
}


.listing {
  display: grid;
  grid-template-columns: auto 1fr 2fr 1fr;
  grid-template-areas: "pic name visit status";
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);

}

.listing-name {
  grid-area: name;
  font-size: 13px;
  p {

    strong{
      color: rgba(0,0,0,0.9);
      color: rgba(0,0,0,0.9);
    }
    margin: 0 0;
  }


  padding-left: 20px;
  color: rgba(0,0,0,0.4);

}

.listing-time {
  grid-area: visit;
  font-size: 13px;
  flex-grow: 1;


  padding-left: 20px;
  color: rgba(0,0,0,0.4);
  p {

    strong{
      color: rgba(0,0,0,0.9);
      color: rgba(0,0,0,0.9);
    }
    margin: 0 0;
  }

}

.listing-status {
  grid-area: status;
  font-size: 14px;
  font-weight: bold;
}

